*{
   margin: 1px;
   padding: 1px;
   background-color: rgba(0, 0, 0, 0);
   box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background-image: url(mainimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: 15vh;
    background-color: rgb(255, 215, 0);
    padding: 15px;
    /* color: whit  e; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
    text-transform: uppercase;
}

nav .logo{
    width: 5%;
    text-align: right;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav .menu{
    align-items: center;
    width: 40%;
    color: black;
    margin: 5px;
    padding: 5px;
    /* justify-content: space-between; */
    /* display: flex; */
    /* color: white; */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav .menu a{
    width: 50%;
    align-items: center;
    text-decoration: none;
    color: crimson;
    /* color: white; */
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* main{
    width: 100%;
    height: 85vh;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    /* color:  black; */

logo1{
    color: crimson;
    align-items:center;
} 
/* mixen coach.. assistant coach of cheenaiyan FC*/